@model IEnumerable<Brio.Models.Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/DefaultLayouts.cshtml";
}
<section>
    @Html.Partial("RightBarNews")
    <div class="content">
        <form action="" method="post" name="serch">
            <input name="name" type="text" placeholder="ВВЕДИТЕ НАЗВАНИЕ ДОКУМЕНТА">
            <button type="submit"><h2 class="left"><span>Поиск</span></h2></button>
        </form>

        <div class="content-left-bar doks-page">
            <h2 class="right white shadow"><span class="project-title">Документы</span></h2>
            <div class="wrapp">

                <ul>
                    @foreach (var p in Model)
                    {
                        <li>
                            <p class="proj_title">
                                <span>
                                    Проект: @p.Tile
                                </span>
                            </p>
                            <ul>
                                @foreach (var d in p.ProjectDocuments)
                                {
                                    <li>@d.DocumentTitle</li>
                                }
                                <li class="list-none">
                                    <p class="add">Добавить файл</p>
                                    @using (Html.BeginForm("Add", "ProjectDocument", FormMethod.Post, new { enctype = "multipart/form-data", name = "add" }))
                                    {
                                        <p>
                                            Название:
                                            <input id="Title" name="Title" type="text">
                                            @Html.Hidden("ProjectId", p.ID)
                                        </p>
                                        <div>
                                            <p class="upload-wrapp">
                                                <button onclick="return false;" id="upload" class="open-file">Открыть</button>
                                                <input id="files" type="file" name="files" />
                                            </p>
                                            <p>Файл:</p>
                                        </div>
                                        <button type="submit">
                                            <h2 class="right creat-title"><span>Добавить</span></h2>
                                        </button>
                                    }
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>
