@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Layouts/DefaultLayouts.cshtml";
}

<div id="pop-up">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { name = "enter" }))
    {
        <h1>
            Добро <br>
            пожаловать
        </h1>
        <p><input name="Email" type="text" placeholder="E-mail"></p>
        <p><input name="Password" type="text" placeholder="Пароль"></p>
        <button type="submit"><h2 class="right creat-title"><span>Войти</span></h2></button>
    }
</div>
