.logo .loupe {
    background: url('../images/logo.png') no-repeat 25px 4px;
    background-size: 38%;
    width: 170px;
    height: 90px;
}

.content div.slider[data-id="0"] {
    background: url('../images/overlay.png'), url('../images/geodezist_1.jpg');
    background-size: 256px 256px, cover;
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;
}

.content div.slider[data-id="1"] {
    background: url('../images/overlay.png'), url('../images/geodezist_2.jpg');
    background-size: 256px 256px, cover;
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;
}

.content div.slider[data-id="2"] {
    background: url('../images/overlay.png'), url('../images/geodezist_3.jpg');
    background-size: 256px 256px, cover;
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;
}

.articles .article_header h1::before {
    background: #3E8C2E;
}

.content .block_ins .brio-tasks {
    background-color: #3E8C2E;
}

.button-blue {
    background: #3E8C2E;
}

.price_buttons_head {
    color: #3E8C2E;
}

    .price_buttons_head::before {
        background: #3E8C2E;
    }

.articles .article_header h1 {
    color: #3E8C2E;
}

.bottom-logo {
    font-size: 27.1px;
}

.bottom-logo .company {
    font-size: 15px;
    margin-left: 0.5px;
}

.big-logo {
    right: 50%;
    margin-right: -120px;
}

.bottom-logo {
    margin-left: -45px;
}

