@using Brio
@using Brio.Models

<div class="right-bar index">
    <h2 class="right"><span class="news-title">Новости</span></h2>
    @{
        INewsRepository newsRepository = (INewsRepository)DependencyResolver.Current.GetService(typeof(INewsRepository));
        IBrioContext brioContext = DependencyResolver.Current.GetService(typeof(IBrioContext)) as IBrioContext;
        List<News> news = newsRepository.GetAll(brioContext.CurrentUser != null ? brioContext.CurrentUser.CompanyId : 0).OrderByDescending(n => n.CreateDate).Take(3).ToList();
    }
    @foreach (var n in news)
    {
        <article class="">
            <p class="date">@n.CreateDate.ToString("dd/MM/yyyy")</p>
            <p>@n.Title</p>
        </article>
        <hr color="#AEAFB0" size="1">
    }
    <div id="datepicker"></div>
</div>
