<div class="right-bar  index">
    <h2 class="right plus"><span class="news-title">Новости</span></h2>
    <article class="gray">
        <p class="date">10/05/2014</p>
        <p>Получение объективных данных об объеме используемых энергетических ресурсов.</p>
    </article>
    <hr color="#AEAFB0" size="1">
    <article>
        <p class="date">10/05/2014</p>
        <p>Получение объективных данных об объеме используемых энергетических ресурсов.</p>
    </article>
    <hr color="#AEAFB0" size="1">
    <article>
        <p class="date">10/05/2014</p>
        <p>Получение объективных данных об объеме используемых энергетических ресурсов.</p>
    </article>
    <hr color="#AEAFB0" size="1">
    <div id="datepicker"></div>
</div>
