@model Brio.Models.EditDocument

@{
    ViewBag.Title = "ДОКУМЕНТ";
    Layout = "~/Views/Layouts/LayoutDefault.cshtml";
}

<div class="content">
    <h1>РЕДАКТИРОВАТЬ ДОКУМЕНТ</h1>
    @using (Html.BeginForm("Edit", "Document", FormMethod.Post, new { @class = "pure-form pure-form-aligned", enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            @Html.HiddenFor(model => model.ID)
            <div class="pure-control-group">
                @Html.TextBoxFor(model => model.DocumentTitle, new { @class = "pure-input-2-3" })
                @Html.ValidationMessageFor(model => model.DocumentTitle)
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">СОХРАНИТЬ</button>
            </div>
        </fieldset>
    }
</div>