@model Brio.Models.CreateNews

@if(User.IsInRole("Admin"))
{ 
    <div class="content-right-bar news-form">
        <h2>Создание этапа</h2>
        @using (Html.BeginForm("Add", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <p>@Html.TextBoxFor(n => n.Title, new { placeholder = Html.DisplayNameFor(n => n.Title) })</p>
            <p>@Html.TextBoxFor(n => n.PhotoPath, new { placeholder = Html.DisplayNameFor(n => n.PhotoPath), type = "file" })</p>
            <p>@Html.TextAreaFor(n => n.Text, new { placeholder = Html.DisplayNameFor(n => n.Text) })</p>

            <button type="submit"><h2 class="right creat-title"><span>Создать</span></h2></button>
        }
    </div>
}