@model Brio.Models.EditNews

@if(User.IsInRole("Admin"))
{ 
    <div class="content-right-bar news-edit-form" style="display:none">
        <h2>Редактирование новости</h2>
        @using (Html.BeginForm("Edit", "News", new { id = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(n => n.Id)
            <p>@Html.TextBoxFor(n => n.Title, new { placeholder = Html.DisplayNameFor(n => n.Title) })</p>
            <p>@Html.TextBoxFor(n => n.PhotoPath, new { placeholder = Html.DisplayNameFor(n => n.PhotoPath), type = "file" })</p>
            <p>@Html.TextAreaFor(n => n.Text, new { placeholder = Html.DisplayNameFor(n => n.Text) })</p>

            <button type="submit"><h2 class="right creat-title"><span>Сохранить</span></h2></button>
        }
    </div>
}