@using Brio.Models
@model IEnumerable<News>

@{
    ViewBag.Title = "Новости";
    Layout = "~/Views/Layouts/DefaultLayouts.cshtml";
}

<div class="right-bar-container">
    <div class="cont">
        <div class="content-right-bar news-cont" style="display: none">
            <h2 class="title"></h2>
            <div class="news-block">
                <img class="news-photo" src="" alt="Фото новости">
                <p class="news-text"></p>
                <p class="author">
                    Автор новости:<span class="news-author"></span>
                </p>

                <p class="news-date"></p>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="edit_pen" data-news-id=""></div>
            }
        </div>

        @Html.Partial("CreateNewsPartial", ViewBag.News as CreateNews)
        @Html.Partial("EditNewsPartial", ViewBag.EditNews as EditNews)
    </div>
</div>
<div class="content-left-bar">
    <h2 class="right white shadow">
        @if (User.IsInRole("Admin"))
        {
            <div class="plus_"></div>
        }
        <span class="project-title">Новости</span>
    </h2>
    <div class="wrapp news-page">
        <ul>
            @foreach (var n in Model)
            {
                <li data-news-id="@n.ID">
                    <div class="p-container">
                        <p>
                            <span>
                                @n.Title
                                @if (User.IsInRole("Admin"))
                                {
                                    <a href="News/Delete/@n.ID" class="lnk-delete" onclick="return confirm('Удалить эту новость?')"><i class="fa fa-times"></i></a>
                                }
                            </span>

                        </p>
                        </div>
</li>
            }
        </ul>
    </div>
</div>

<script>
    (function () {
        var _news = news();
        console.log(_news);
        _news.init();
    })();
</script>