@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/LayoutDefault.cshtml";
}

@section styles{
    <style>
        .container {
            width:100% !important;
        }
    </style>
}

<div class="container">
    <div class="slider">
        <iframe width='100%' height='100%' frameborder='0' src='https://a.tiles.mapbox.com/v4/briogdnii.jglkn189/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiYnJpb2dkbmlpIiwiYSI6IjhualZiTlUifQ.3s1dyJCibV5A82SSC_Ef4Q'></iframe>
    </div>
</div>

